@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montagu+Slab:opsz,wght@16..144,500&family=Oleo+Script&family=Poppins:wght@100;400&family=Roboto&display=swap');
body{
  width: 95%;
  margin: 0 auto;
  background-color: #814dfa;
  /* background-color: #fac62a; */
  /* background-color: #faf9f7; */
  
}                                         
#correctAnswer{
  background-color: green;
  color: white;
}
#wrongAnwser{
  background-color: red;
  color: black;
  border: 2px solid black;
}
#smallTimmy{
  color: red;
  animation: flash 1s alternate infinite;
}
#warning{
  color: #fac62a;
  animation: flash 1s alternate infinite;
}

@keyframes flash {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}